<header class="masthead bg text-black text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="/img/notas.svg" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">start your notes</h1>
        <hr class="my-3">
        <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
        <p class="masthead-subheading font-weight-light mb-0">Junior web developer</p>
        <hr class="my-2">
        <a class="btn btn-primary btn-lg" href="http://google.com" role="button">A-DEV</a>
    </div>
</header>